# Unpinned versions of IREE dependencies.
--find-links https://github.com/iree-org/wave/releases/expanded_assets/dev-wheels
--no-index
wave-lang

--pre
--find-links https://iree.dev/pip-release-links.html
iree-base-compiler
iree-base-runtime
iree-turbine
