# Copyright 2025 Advanced Micro Devices, Inc.
#
# Licensed under the Apache License v2.0 with LLVM Exceptions.
# See https://llvm.org/LICENSE.txt for license information.
# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: CI - sharkfuser

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/ci-sharkfuser.yml'
      - 'sharkfuser/**'
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  # A PR number if a pull request and otherwise the commit hash. This cancels
  # queued and in-progress runs for the same PR (presubmit) or commit
  # (postsubmit). The workflow name is prepended to avoid conflicts between
  # different workflows.
  group: ${{ github.workflow }}-${{ github.event.number || github.sha }}
  cancel-in-progress: true

env:
  FUSILLI_DIR: ${{ github.workspace }}/sharkfuser

jobs:
  build-and-test:
    name: "Build & Test :: ${{ matrix.name }}"
    runs-on: ${{ matrix.runs-on }}
    defaults:
      run:
        # --noprofile skips loading ~/.bash_profile
        # --norc      skips loading ~/.bashrc
        # -exo pipefail:
        #   -e exit immediately if any command fails
        #   -x print each command before executing
        #   -o pipefail ensure pipeline fails if any command in it fails
        # {0} github actions placeholder for the command to run
        shell: bash --noprofile --norc -exo pipefail {0}
    strategy:
      fail-fast: false
      matrix:
        # name: ["gfx942_clang20_release", "cpu_clang18_debug", "gfx942_clang20_debug", "cpu_gcc13_codecov"]
        name: ["cpu_clang18_debug_1", "cpu_clang18_debug_2", "cpu_clang18_debug_3", "cpu_clang18_debug_4", "cpu_clang18_debug_5", "cpu_clang18_debug_6", "cpu_clang18_debug_7", "cpu_clang18_debug_8", "cpu_clang18_debug_9", "cpu_clang18_debug_10",
               "cpu_clang18_debug_11", "cpu_clang18_debug_12", "cpu_clang18_debug_13", "cpu_clang18_debug_14", "cpu_clang18_debug_15", "cpu_clang18_debug_16", "cpu_clang18_debug_17", "cpu_clang18_debug_18", "cpu_clang18_debug_19", "cpu_clang18_debug_20"]
        include:
          # - name: gfx942_clang20_release
          #   runs-on: linux-mi325-2gpu-ossci-nod-ai
          #   cmake-options:
          #     -DCMAKE_C_COMPILER=clang-20
          #     -DCMAKE_CXX_COMPILER=clang++-20
          #     -DCMAKE_BUILD_TYPE=Release
          #     -DFUSILLI_ENABLE_LOGGING=ON
          #     -DFUSILLI_SYSTEMS_AMDGPU=ON
          - name: cpu_clang18_debug_1
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_2
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_3
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_4
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_5
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_6
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_7
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_8
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_9
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_10
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_11
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_12
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_13
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_14
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_15
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_16
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_17
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_18
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_19
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          - name: cpu_clang18_debug_20
            runs-on: azure-cpubuilder-linux-scale
            cmake-options:
              -DCMAKE_C_COMPILER=clang-18
              -DCMAKE_CXX_COMPILER=clang++-18
              -DCMAKE_BUILD_TYPE=Debug
              -DFUSILLI_ENABLE_LOGGING=ON
              -DFUSILLI_SYSTEMS_AMDGPU=OFF
          # - name: gfx942_clang20_debug
          #   runs-on: linux-mi325-2gpu-ossci-nod-ai
          #   cmake-options:
          #     -DCMAKE_C_COMPILER=clang-20
          #     -DCMAKE_CXX_COMPILER=clang++-20
          #     -DCMAKE_BUILD_TYPE=Debug
          #     -DFUSILLI_ENABLE_LOGGING=ON
          #     -DFUSILLI_SYSTEMS_AMDGPU=ON
          # - name: cpu_gcc13_codecov
          #   runs-on: azure-cpubuilder-linux-scale
          #   cmake-options:
          #     -DCMAKE_C_COMPILER=gcc-13
          #     -DCMAKE_CXX_COMPILER=g++-13
          #     -DFUSILLI_CODE_COVERAGE=ON
          #     -DFUSILLI_SYSTEMS_AMDGPU=OFF

    steps:
    - name: Checkout fusilli
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Build fusilli
      working-directory: ${{ env.FUSILLI_DIR }}
      run: |
        build_tools/docker/exec_docker_ci.sh \
        bash -c "cmake -GNinja -S. -Bbuild \
                   -DIREERuntime_DIR=/workspace/.cache/docker/iree/build/lib/cmake/IREE \
                   ${{ matrix.cmake-options }} && \
                 cmake --build build --target all"

    - name: Test fusilli
      if: ${{ matrix.name != 'cpu_gcc13_codecov' }}
      working-directory: ${{ env.FUSILLI_DIR }}
      run: |
        build_tools/docker/exec_docker_ci.sh \
        bash -c "ctest --test-dir build --output-on-failure --extra-verbose --timeout 120 -j \$(nproc) && \
                 tests/test_cache_empty.sh"

    - name: Run code coverage
      if: ${{ matrix.name == 'cpu_gcc13_codecov' }}
      working-directory: ${{ env.FUSILLI_DIR }}
      run: |
        build_tools/docker/exec_docker_ci.sh \
        bash -c "ctest --test-dir build -T test -T coverage --timeout 120 && \
                 lcov --capture --directory build --output-file build/coverage.info && \
                 lcov --remove build/coverage.info '/usr/*' '*/iree/*' --output-file build/coverage.info && \
                 genhtml build/coverage.info --output-directory coverage_report"

    - name: Upload code coverage report
      if: ${{ matrix.name == 'cpu_gcc13_codecov' }}
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
        name: coverage-report
        path: ${{ env.FUSILLI_DIR }}/coverage_report

  # Depends on all other jobs to provide an aggregate job status.
  ci_sharkfuser_summary:
    if: always()
    runs-on: ubuntu-24.04
    needs:
      - build-and-test
    steps:
      - name: Getting failed jobs
        run: |
          echo '${{ toJson(needs) }}'
          FAILED_JOBS="$(echo '${{ toJson(needs) }}' \
            | jq --raw-output \
            'map_values(select(.result!="success" and .result!="skipped")) | keys | join(",")' \
          )"
          if [[ "${FAILED_JOBS}" != "" ]]; then
            echo "The following jobs failed: ${FAILED_JOBS}"
            exit 1
          fi
